{{page-title "Home Food"}}

{{! The following component displays Ember's default welcome message. }}
<header class="header">   
    <div class="head">
        <img src="/images/LOGO.png" alt="Logo" height="80px" width="90px">
        <h1>HOME FOOD</h1>
    </div>
    <div class="head">
        <nav class="navbar">
            <LinkTo @route="index">Home</LinkTo>
            <LinkTo @route="menu">Menu</LinkTo>
            <LinkTo @route="profile">Profile</LinkTo>
            <LinkTo @route="signup">
                <button type="button">Login</button>
            </LinkTo>
        </nav>
    </div>
</header>

{{outlet}}