<section class="section-head">
    <div class="intro">
        <div class="intpara">
            <h1>Welcome to Only Home Food</h1>
            <p> We bring the taste of mothers food in a healthy way to your doorstep.</p>
            <LinkTo @route="menu">
                <button class="btn" type="button">ORDER NOW</button>
            </LinkTo>
        </div>
        <img src="images/foodd.webp" alt="food image">
    </div>
</section>