<h1 class="menu-head">Menu</h1>
<section class="details">

    <div class="box">
        <h4 class="head-kitchen">Annapoorani's kitchen</h4>
        <img src="https://iili.io/HN4V3MX.webp" alt="Sambar Rice image">
        <div class="border">
            <h4>Sambar Rice</h4>
            <div class="info_box">
                <div class="info">
                    <h5>Type</h5>
                    <p>Veg</p>
                </div>
                <div class="info">
                    <h5>Quantity</h5>
                    <p>250 g</p>
                </div>
            </div>
            <div class="price">
                <p class="food_price">Rs.25</p>
                <LinkTo @route="cart" @model="1">
                    <button type="button" class="addCart">Add to cart</button>
                </LinkTo>
            </div>
        </div>
    </div>

</section>