{{page-title "Signup"}}
<div class="new">
    <div class="signupbox">
        <LinkTo @route="index">
            <img src="/images/LOGO.png" alt="logo">
        </LinkTo>
        <h1 class="form-title">Sign Up</h1>
        <form name="newform" id="form-signup" class="form">
            <label>Name</label>
            <input type="text" class="username" id="user_name" minlength="3" pattern="[a-zA-Z ]+" placeholder="Name"
             required="">
            <label>Mobile No</label>
            <input type="tel" id="user_phonenumber" placeholder="Mobile No" pattern="[6-9]{1}[0-9]{9}" maxlength="10"
             title="Write your 10-digit mobile number." required="">
            <label>Email</label>
            <input type="email" id="user_email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$"
                 title="Write your email properly" required="">
            {{!-- <label class="addr">Address</label>
                    <textarea type="text" id="user_address" name="Address" placeholder="Your address" required></textarea>  --}}
            <label>Password</label>
            <input type="password" id="user_password" placeholder="Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain at least one number,one uppercase and lowercase letter, and at least 8 or more characters"
                required="">
            <h5 class="password_note">(Password must contain at least one number and one uppercase and lowercase letter,
                and at least 8 or more characters)</h5>
            {{!-- <label>Confirm Password</label> --}}
            {{!-- <input type="password" id="confirm_password" placeholder="Confirm Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                value="Inba1234" required=""> --}}
            <button type="submit" class="btn-secondary">Submit
            </button>
        </form>
        <p class="f-note">
            By clicking the Submit button,you agree to our <br>
            Terms and Condition and Policy Privacy.
        </p>
    </div>
</div>